<style>


#buttonfeller{
    float: right;
}
.middlebuttons{
    margin: auto;
    width: 10%;
    border: 3px saddlebrown;
    display: block;
    display: flex;
    padding-top: 100px;
    padding-right: 75px;
}
.submit{
    margin: 10px;
    padding: 10px 20px 10px 20px;
    opacity: 0.6;
    color: black;
    background-color: lightgray;
    border: 1px solid rgba(0,0,0, .4)
}
.submit:hover{
    border:1px solid black;
    opacity: .8;
    }
#GuacNp{
  text-align: center;
  margin-top: 200px;
}
h6{
    padding-left: 250px;
}
.NNESE{
    color: blue;
    text-decoration: underline;
    padding-right: 50px;
}
li{
list-style-type: none;
margin: 0px;
padding: 6px;
display: inline-block;
font-size: 12px;
}

.monkeyman22{
    margin: auto;
    width: 50%;
    display: block;
    padding-left: 250px;
}


a.button{ 
  -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 13px;
    font-weight: 700;
    color: white;
    background: rgb(70, 131, 234);
    border-width: 1px;
    border-style: solid;
    border-radius: 5%;
    opacity: 1;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    
}
#header-left{
  float: left;

  }
  a{
    text-decoration: none !important;
  color: black ;
  font-family: Arial, Helvetica, sans-serif;
  }
  li:hover{
    text-decoration: underline;
  }
  #header-right{
    text-align: right;
    padding-right: 12px;
    padding-left: 12px;
  
  }
    
a.button:hover{
  opacity: 1;
}
.searchbar{
 position: absolute;
 top: 43%;
 left: 50%;
 transform: translate(-50%,-50%);
height: 40px;
padding: 10px;
}
.roundeddge{
    border-radius: 25%;
}

.BL{
    float: left;
    position: relative;
    bottom: -320px;
    right: 20px;
    display: inline;
    
}

.BR{
    float: right;
    position: relative;
    bottom: -320px;
    right: 20px;
    display: inline;
}
</style>
